<div class="mat-elevation-z8">
    <a mat-raised-button target="_blank" (click)="goToUserReg()">Link</a>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Position Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Weight Country -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
  
      <!-- Symbol State -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element;let i =index"> {{element.state}}</td>
      </ng-container>

       <!-- Symbol Password -->
       <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

       <!-- Symbol Gender -->
       <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

       <!-- Symbol Qualification -->
       <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef> Qualification </th>
        <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
      </ng-container>

      <!-- Symbol edit -->
      <ng-container matColumnDef="editEmployee">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.qualification}} </td> -->
        <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="editUser(element, i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
           </button>
         </td>  
      </ng-container>

      <!-- Symbol delete -->
      <ng-container matColumnDef="deleteEmployee">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.qualification}} </td> -->
        <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="deleteUser(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
           </button>
         </td>
       </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10,15]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <ng-content></ng-content>